.header {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 990px) {
            justify-content: flex-end;
        }
    }
    &__logo {
        position: absolute;
        top: 25px;
        left: 50%;
        height: 32px;
        transform: translate(-48%, 0);
    }
    @media (max-width: 1440px) {
        max-width: 1140px;
    }
    @media (max-width: 1200px) {
        max-width: 960px;
    }
    @media (max-width: 990px) {
        max-width: 767px;
    }
    @media (max-width: 767px) {
        max-width: 576px;
    }
    @media (max-width: 576px) {
        max-width: 100%;
    }
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    &__item {}
    &__link {
        text-decoration: none;
        color: $black;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 22px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        transition: .3s ease;
        cursor: pointer;
        &:hover {
            color: #c87b5e;
        }
    }
    @media (max-width: 991px) {
        display: none;
    }
}

.nav-menu__link .menu-basket {
    @media (min-width: 991px) {
        display: block;
        padding: 30px 0px;
    }
}

.menu-basket {
    padding: 30px 0px;
}

.nav-menu li {
    padding: 30px;
    &:nth-child(2) {
        padding: 30px 440px 0 30px;
        @media (max-width: 1440px) {
            padding: 30px 50px 0 30px;
        }
    }
    &:nth-child(3) {
        padding: 30px 30px 0 440px;
        @media (max-width: 1440px) {
            padding: 30px 30px 0 250px;
        }
    }
}

.basket {
    color: #fff;
    border: 1px solid #c87b5e;
    padding: 7px 12px;
    background: #c87b5e;
    border-radius: 100%;
    &:hover {
        color: #fff;
        background: #ad674f;
        border: 1px solid #ad674f;
    }
}

.hamburger-menu {
    @media (min-width: 991px) {
        display: none;
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    @media (max-width: 990px) {
        top: -76px;
    }
    @media (max-width: 379px) {
        top: -76px;
    }
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 30px 24px;
    text-align: center;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

//@at-root