.header {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 990px) {
            justify-content: space-between;
        }
    }
    &__logo {
        position: absolute;
        top: 25px;
        left: 50%;
        height: 32px;
        transform: translate(-48%, 0);
    }
    @media (max-width: 1440px) {
        max-width: 1140px;
    }
    @media (max-width: 1200px) {
        max-width: 960px;
    }
    @media (max-width: 990px) {
        max-width: 767px;
    }
    @media (max-width: 767px) {
        max-width: 576px;
    }
    @media (max-width: 576px) {
        max-width: 100%;
    }
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    &__item {}
    &__link {
        text-decoration: none;
        color: $black;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 22px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        transition: .3s ease;
        cursor: pointer;
        &:hover {
            color: #c87b5e;
        }
    }
    @media (max-width: 991px) {
        display: none;
    }
}

.nav-menu__link .menu-basket {
    @media (min-width: 991px) {
        display: block;
        padding: 30px 0px;
    }
}

.menu-basket {
    padding: 30px 0px;
}

.nav-menu li {
    padding: 30px;
    &:nth-child(2) {
        padding: 30px 440px 0 30px;
        @media (max-width: 1440px) {
            padding: 30px 50px 0 30px;
        }
    }
    &:nth-child(3) {
        padding: 30px 30px 0 440px;
        @media (max-width: 1440px) {
            padding: 30px 30px 0 250px;
        }
    }
}

.basket {
    color: #fff;
    border: 1px solid #c87b5e;
    padding: 7px 12px;
    background: #c87b5e;
    border-radius: 100%;
    &:hover {
        color: #fff;
        background: #ad674f;
        border: 1px solid #ad674f;
    }
}

.hamburger-menu {
    @media (min-width: 991px) {
        display: none;
    }
}


/* Сброс стилей кнопки */

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.menu-block {
    display: flex;
    align-items: baseline;
}

.menu-nav {
    position: absolute;
    left: 0px;
    top: -400px;
    background-color: #000;
    border-radius: 5px;
    z-index: 666;
    padding: 20px 20px 20px 20px;
    border-radius: 0px;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
}

.active-nav {
    top: 65px;
    left: 0%;
    border-radius: 10px;
}

.menu-nav__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.menu-nav__list li {
    padding-right: 20px;
    padding-bottom: 30px;
}

.menu-nav__item {
    color: #fff;
}

.menu-nav__link {
    text-decoration: none;
    color: #c87b5e;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: .3s ease;
    cursor: pointer;
}


/* Бургер-меню */

.burger-menu {
    --offset-horizontal: 9px;
    --offset-vertical: 10px;
    position: relative;
    padding: var(--offset-vertical) var(--offset-horizontal);
    width: 34px;
    height: 34px;
    background-color: #ccc;
    border-radius: 100%;
    z-index: 6666;
}


/* Линии для бургер-меню */

.burger-line {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: var(--offset-vertical);
    width: calc(100% - (var(--offset-horizontal) * 2));
    height: 2px;
    background-color: #000000;
    transform: translateX(-50%);
}

.burger-line:nth-child(2) {
    top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
    top: calc(var(--offset-vertical) + 12px);
}