@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $black;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.slogan {
    background: #F0EEDD;
    &__text {
        text-align: center;
        margin: 0 auto;
        padding: 10px 0px;
        color: #670A18;
        font-size: 1.2rem;
        line-height: 20px;
        letter-spacing: 0.5px;
    }
}

.hero {
    background-image: url(../img/bg-main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 655px;
    padding: 168px 0px 0px 365px;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    //padding: 168px 0px 0px 365px;
    &-text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 16px;
        padding-bottom: 9px;
        text-transform: uppercase;
        &__text {
            text-decoration-line: underline;
        }
    }
    &-title {
        font-weight: 400;
        font-size: 5.0rem;
        line-height: 61px;
        letter-spacing: 1px;
        padding-bottom: 81px;
    }
}

.btn {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #D37657;
    background-color: #D37657;
    padding: 20px 57px;
    transition: .3s ease;
    cursor: pointer;
    &:hover {
        background-color: #ad674f;
    }
}

.section-press {
    background-color: #F5F1E9;
}

.press-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 24px;
    text-transform: uppercase;
    color: #35312E;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 42px;
}

.title {
    color: #35312E;
}

.press-items {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-bottom: 45px;
    // .press-items__item
}

.section-welcome {
    background: #FCFAF6;
}

.welcome-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-item {
    flex: 0 1 32%;
}

.welcome-title {
    width: 400px;
    font-weight: 700;
    font-size: 4.1rem;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #35312E;
}

.welcome-text {
    width: 650px;
    padding: 121px 0px 114px 0px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 26px;
    color: #4F463F;
}

.section-design {
    background-color: #FBF6EA;
    padding-bottom: 140px;
}

.design-title {
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 48px;
    padding-top: 70px;
    padding-bottom: 53px;
    text-align: center;
}

.design-colors {
    padding-bottom: 47px;
}

.design-color {
    display: flex;
    justify-content: center;
    align-items: center;
    // .design-color__item
    &__item {
        list-style-type: none;
        margin-right: 15px;
        &:last-child {
            margin-right: 0px;
        }
    }
    // .design-color__item-circle
    &__item-circle {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
    }
}

.active {
    border: 3px solid #f76b30;
}

.orange {
    background: #E09D81;
}

.gray {
    background: #748EA1;
}

.brown {
    background: #B76D47;
}

.green {
    background: #7D836E;
}

.red {
    background: #C33636;
}

.light-green {
    background: #CDC7B3;
}

.black {
    background: #595752;
}

.ligth-gray {
    background: #D3C2CA;
}

.design-advantages {
    position: relative;
}

.design-image {
    display: flex;
    justify-content: center;
    position: relative;
}

.ml {
    margin: 0px 0px 0px 154px;
    max-width: 562px;
}

.design-text {
    // .design-text__visual
    &__visual {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #6E6259;
        line-height: 15px;
        text-align: center;
    }
    // .design-text__visual-01
    &__visual-01 {
        position: absolute;
        top: 70px;
        left: 338px;
        max-width: 135px;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            background-color: #E09D81;
            top: 15px;
            left: 175px;
        }
    }
    // .design-text__visual-02
    &__visual-02 {
        position: absolute;
        bottom: 155px;
        left: 418px;
        max-width: 107px;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            background-color: #E09D81;
            bottom: -21px;
            left: 154px;
        }
    }
    // .design-text__visual-03
    &__visual-03 {
        position: absolute;
        bottom: 24px;
        left: 338px;
        max-width: 172px;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            background-color: #E09D81;
            bottom: -12px;
            left: 251px;
        }
    }
    // .design-text__visual-04
    &__visual-04 {
        position: absolute;
        top: 23px;
        right: 352px;
        max-width: 158px;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            background-color: #E09D81;
            top: 70px;
            right: 75px;
        }
    }
    // .design-text__visual-05
    &__visual-05 {
        position: absolute;
        bottom: 227px;
        right: 347px;
        max-width: 171px;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            background-color: #E09D81;
            bottom: 12px;
            right: 198px;
        }
    }
    // .design-text__visual-06
    &__visual-06 {
        position: absolute;
        bottom: 84px;
        right: 336px;
        max-width: 160px;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            background-color: #E09D81;
            bottom: 36px;
            right: 91px;
        }
    }
}

.section-goods {
    padding-top: 76px;
    background: #FCFAF6;
}

.goods-title {
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 55px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1.2px;
    max-width: 447px;
    padding-bottom: 18px;
}

.goods-description {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 29px;
    margin: 0 auto;
    text-align: center;
    max-width: 441px;
    color: #4F463F;
    padding-bottom: 90px;
}

.goods {
    padding-bottom: 80px;
    // .goods__body
    &__row {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    // .goods__column
    &__column {
        flex: 0 1 22%;
        display: flex;
        // .goods__column_1
    }
    // .goods__item
    &__item {
        display: flex;
        flex-direction: column;
    }
    // .goods__image
    &__image {
        align-self: center;
    }
    // .goods__title
    &__title {
        padding-top: 22px;
        padding-bottom: 4px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #35312E;
    }
    // .goods__label
    &__label {
        padding-bottom: 6px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #6E635A;
    }
    &__label p {
        margin: 0;
    }
    // .goods__text
    &__text {
        padding-bottom: 17px;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #6E635A;
        flex: 1 1 auto;
        max-width: 184px;
        margin: 0 auto;
    }
    &__text p {
        margin: 0;
    }
    // .goods__colors
    &__colors {
        display: block;
    }
}

.goods__color {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.good__color {
    &-item {
        margin-right: 20px;
        &:last-child {
            margin-right: 0px;
        }
    }
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.good-color__item-circle {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.section-advantages {}

.advantages {
    // .advantages__row
    &__row {
        display: flex;
        flex-wrap: wrap;
        // align-items: center;
    }
    // .advantages__column
    &__column {
        flex: 0 1 33.333%;
    }
    // .advantages__column-i
    &__column-i {
        background-image: url(../img/image-5.png);
        width: 100%;
        height: 480px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__column-j {
        background-image: url(../img/image-6.png);
        width: 100%;
        height: 480px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    // .advantages__image
    &__image {}
}

// .advantages__body
.advantages__body {
    padding-top: 109px;
    margin: 0 auto;
    background: #F5F1E9;
    padding-bottom: 129px;
}

// .advantages__tag
.advantages__tag {
    text-align: center;
    display: block;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #35312E;
}

// .advantages__title
.advantages__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1px;
    color: #35312E;
    padding: 32px 20px 80px 20px;
}

// .advantages__link
.advantages__link {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #4F463F;
    background-color: #fff;
    padding: 18px 56px;
    transition: .3s ease;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: #ad674f;
    }
}

.advantages__btn {
    display: block;
    text-align: center;
}